.categories{
    margin-top: 40px;
}

.Food{
    color: rgb(109, 15, 5);
    font-weight: bold;
}
.Salary{
    margin-top: 40px;
    color: rgb(109, 15, 5);
    font-weight: bold;
}
.Entertainment{
    margin-top: 40px;
    color: rgb(109, 15, 5);
    font-weight: bold;
}